body {
  background-color: rgb(80,190,110);
}

li {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.button-close{
  position: absolute;
  top: -15px;
  right: -17px;
  cursor: pointer;
}
